{% extends "client/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <nav class="navbar navbar-light bg-light mb-2">
        <span class="navbar-brand mb-0 h1">Client's Information with django form</span>
    </nav>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.name|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            <label class="mt-3">Address (optional)</label>
            <div class="row">
                <div class="col-6">
                    {{ form.street|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.suburb|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.postcode|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.state|as_crispy_field }}
                </div>
            </div>
            {{ form.contact_person|as_crispy_field }}
            {{ form.phone_number|as_crispy_field }}
            <div class="p-2">
                <a href="{% url "client-list" %}">
                    <button type="button" class="btn btn-danger">Back</button>
                </a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock  %}